{% extends "layout.html" %}

{% block content %}

<body>
  <h1> Manage Inventory</h1>
  <table border = "1">
    <style>
      table {border-collapse:collapse; table-layout:auto; border:solid 1px;}
      table td {border:solid 1px; word-wrap:break-word; min-width:200px; max-width:500px;}
    </style>
    <thread>
      <tr>
        <th style = "border:solid 1px;"> Inventory ID</th>
        <th style = "border:solid 1px;"> View/Modify</th>
        <th style = "border:solid 1px;"> Item ID</th>
        <th style = "border:solid 1px;"> Quantity</th>
        <th style = "border:solid 1px;"> Location</th>
      </tr>
    </thread>
    <tbody>
      {% for entry in json_data %}
        <tr>
          <td style = "min-width: 100px; max-width:300px;">{{ entry.inventory_id }}</td>
          <td style = "min-width: 100px; max-width:300px;"><a href="{{ url_for('modify_inventory', index = entry.inventory_id) }}">Link</a></td>
          <td style = "min-width: 100px; max-width:300px;">{{ entry.item_id }}</td>
          <td style = "min-width: 100px; max-width:300px;">{{ entry.quantity }}</td>
          <td style = "min-width: 100px; max-width:300px;">{{ entry.location_string }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
{% endblock %}