<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Inventory Management System - {{ title }}</title>
    {% else %}
        <title>Inventory Management System</title>
    {% endif %}

</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Inventory Management System</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <!-- not using login/register links. Note: even comments must have valid endpoints or program will break
              -->
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="main-content">
      <div class="row">
          <div class="col-md-4 bd-sidebar">
          <div class="content-section">
            <h3>Quick Links</h3>
            <p class='text-muted'>Choose Option Below:
              <ul class="list-group" style="list-style: none;">
                <li><a class="list-group-item list-group-item-light" style="color: blue;" href="{{ url_for('new_item', index = 0) }}">Configure New Item</a>
                    <a class="list-group-item list-group-item-light" style="color: blue;" href="{{ url_for('items_list') }}">Manage Items</a>
                    <a class="list-group-item list-group-item-light" style="color: blue;" href="{{ url_for('modify_inventory', index = 0) }}">Add Inventory</a>
                    <a class="list-group-item list-group-item-light" style="color: blue;" href="{{ url_for('inventory_list') }}">Manage Inventory</a>
                    <a class="list-group-item list-group-item-light" style="color: blue;" href="{{ url_for('modify_listing', index = 0) }}">Create Listing</a>
                    <a class="list-group-item list-group-item-light" style="color: blue;" href="{{ url_for('manage_listings') }}">Manage Listings</a>
                </li>
              </ul>
            </p>
          </div>
          <div class="content-section">
            <h3>Reports</h3>
            <p class='text-muted'>Choose Option Below:
              <ul class="list-group" style="list-style: none;">
                <li><a class="list-group-item list-group-item-light" style="color: blue;" href="{{ url_for('profit_report') }}">Profit Report</a>
                    <a class="list-group-item list-group-item-light" style="color: blue;" href="{{ url_for('inventory_report') }}">Inventory Report</a>
                    <a class="list-group-item list-group-item-light" style="color: blue;" href="{{ url_for('inventory_forecast', index = 0) }}">Inventory Forecast</a>
                </li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}", id="flashedmessage1">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>

      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=https://code.jquery.com/jquery-3.2.1.slim.min.js integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src=https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>