{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method ="POST" action="" enctype = "multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class ="form-group">
                <legend class ="border-bottom mb-4">Modify Listing Entry</legend>
                <div class="form-group">
                    {{ form.item_id.label(class="form-control-label") }}
                    {{ form.item_id(class="form-control form-control=lg") }}

                    {{ form.quantity.label(class="form-control-label") }}
                    {{ form.quantity(class="form-control form-control=lg") }}

                    {{ form.website.label(class="form-control-label") }}
                    {{ form.website(class="form-control form-control=lg") }}

                    {{ form.listing_url.label(class="form-control-label") }}
                    {{ form.listing_url(class="form-control form-control=lg") }}

                    {{ form.listing_status.label(class="form-control-label") }}
                    {{ form.listing_status(class="form-control form-control=lg") }}

                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info", onclick="userFeedback()") }}
                <script>
                    function userFeedback() {
                    const elem = document.getElementById("submit")
                    elem.style.color = 'green'
                    elem.value = 'Running...'
                    document.getElementById("flashedmessage1").remove()
                    }
                </script>
            </div>
            <div class="form-group">
                {{ form.delete_button(class="btn btn-outline-info", onclick="userFeedback2()", style = "color:red") }}
                <script>
                    function userFeedback2() {
                    const elem = document.getElementById("delete_button")
                    elem.style.color = 'red'
                    elem.value = 'Deleting...'
                    document.getElementById("flashedmessage1").remove()
                    }
                </script>
            </div>
        </form>
    </div>
{% endblock content %}